@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 113 193 161;
    --secondary: 207 0 15;
    --tertiary: 34 167 240;
    --negative: 255 0 0;
    --bg-primary: 255 255 255;
    --bg-secondary: 238 238 238;
    --bg-tertiary: 243 243 243;
    --fg-primary: 0 0 0;
    --fg-secondary: 149 149 149;
    --fg-tertiary: 0 0 0;
    --favorite: 255 0 0;
    --hp-bar: 113 193 161;
    --cp-bar: 159 159 255;
  }
}

body {
  /* color: rgb(var(--fg-primary)); */
  background: rgb(var(--bg-primary));
}
